body{
    background-color: black;
    display: flex;
    justify-content: center;
}

.post{
    background-color: white;
    width: 500px;
    padding: 0px;
}

.post-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-header-name{
    margin: none;
}

.post-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-body-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-img{
    padding: 0px;
}

i{
    font-size: 30px;
    padding: 0px;
}

div{
    padding: 2px;
}